<h1> New event oui tu as créé la page incroyable !</h1>

<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Title</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Titre">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Location</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Location">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Address</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="Adresse">
  </div>
  
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">Date</label>
      <input type="text" class="form-control" id="Date">
    </div>
    
  <div class="form-row">
    <div class="form-group col-md-5">
      <label for="inputCity">Duration</label>
      <input type="text" class="form-control" id="Date">
    </div>

    <div class="form-group col-md-3">
      <label for="inputZip">Duration</label>
      <input type="text" class="form-control" id="Duration">
    </div>
  </div>

    </div>
  </div>
  <button type="submit" class="btn btn-primary">Bête de soirée incomming</button>
</form>
